@keyframes bola {
    
    0%{
        opacity: 0.2;
        transform: translateY(-10px) rotate(180deg); 
        
    }

    25%{
        opacity: 0.25;
        transform: translateY(10px) rotate(-10deg); 
    }
    50%{

        opacity: 0.5;
        transform: translateY(-10px) rotate(10deg); 
    }

    75%{

        opacity: 0.75;
        transform: translateY(10px) rotate(-10deg); 
    }

    100%{

        opacity: 1;
        transform: translateY(-10px) rotate(-180deg); 
    }
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto:wght@500&display=swap');


html {

    scroll-behavior: smooth;
}

body {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "header header header" "aside section section" "aside section section" "aside main main" "aside main main" "div div div" "footer footer footer";
}

h1, h2 ,h3 {

    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: #F0A500;
    padding: 5px;
    margin: 5px;
    
    
    
}

p , ul{
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 15);
    text-align: justify;
    background-color: rgba(248, 248, 248, 0.308);
    padding: 5px;
    margin: 5px 10px;
    list-style: none;
    
}

header {
	
        height: 30px;
        width: 100%;
	    grid-area: header;
	    background-color: #F0A500;
        text-align: center;
        transition: 1,5s;

        &:hover{

        height: 40px;

    }

    div{

        margin: 5px;

        &:hover{

            margin: 10px;
        }
         
        a{
            padding: 20px;
            border: salmon;
            color: #000000;
            justify-content: center;
            text-decoration: none;
           

            &:hover{
            
            color:rgb(207, 238, 70)

            }
        }
    }
}
section {
	grid-area: section;
	height: 75vh;
	
	img {
		width: 100%;
		height: 100%;
        transition: 3s;

        &:hover{

            transform:scale(1.2) skew(-8deg) ;
        }
        
	}
}
aside {
	height: 150vh;
	grid-area: aside;
	background-color: #082032;
}
main {
	height: 75vh;
	grid-area: main;
	background-color: darkgreen;
	iframe {
		height: 100%;
		width: 100%;
	}
}
div.formulario {

    justify-content: center;
    text-align: center;
    height: auto;
	grid-area: div;
	background-color:#334756;
}
footer {
	height: 40px;
	grid-area: footer;
	background-color: #000000;
    color:#F0A500;
    text-align: center;
   
    div{
        
        position: relative;
        padding: 5px;
        margin: 5px;
        
    }
    
    
}

.sobre{

    position: fixed;
    margin: 100px;
    bottom: 0px;
    right: 0px;

    height: 30px;
    width: 30px;

    animation-name: bola ;
    animation-iteration-count: infinite;
    animation-duration:3s;
    animation-direction: alternate-reverse;
    
} 

fieldset{

    border: none;
    margin: 10px;
    padding: 5px;

  
    
        
    
    input:focus{

        background-color: #affc97;
        border:4px solid;
        border-color: #334756;
        border-radius: 2px;
                
        
    }
}

button{

    background-color: #F0A500;
    border: none;
    color: #334756;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;



}

